{% extends "Base/base.html" %} {% block content %}
<header class="bg-dark py-5">
    <div class="container px-3 px-lg-4 my-4">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Login Page</h1>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8 shadow p-3 mb-5 bg-white rounded">
                {% if messages %} {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <h1>{{message}}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %} {% endif %}
                <br /><br />
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="usernameInput" class="form-label">Username</label>
                        <input type="text" name="username" required class="form-control" placeholder="enter your username"
                            id="usernameInput" aria-describedby="usernameHelp" />
                        <div id="usernameHelp" class="form-text">
                            here is your username.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword" class="form-label">Password</label>
                        <input type="password" name="password" required placeholder="enter your valid password here"
                            class="form-control" id="exampleInputPassword" aria-describedby="passwordHelp" />
                    </div>
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" type="submit">Login</button>
                    </div>
                    <div class="m-2">
                        Don't have an account?
                        <a href="{% url 'register-url' %}">Sign up </a>
                    </div>
                </form>
            </div>
        </center>
    </div>
</div>
{% endblock content %}