{% extends "Base/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Create Blog
{% endblock title %}

{% block content %}
<header class="bg-dark py-5">
    <div class="container px-3 px-lg-3 my-4">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Create Blog</h1>
        </div>
    </div>
</header>

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}
<br>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form|crispy}}
    <button type="submit" class="btn btn-primary">Create Blog</button>
</form>

<!-- <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
        <label>Title</label>
        <input type="text" class="form-control" name="blog_title" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label>Content</label>
        <textarea name="blog_content" class="form-control" id="" cols="30" rows="10"></textarea>
    </div>
    <div class="mb-3">

        <input type="file" name="blog_image" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form> -->

{% endblock content %}